body {
    font-family: system-ui;
    margin: 0 0;
    text-wrap: pretty;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.pad10{
    padding: 10px;
}

.flex1 {
    flex: 1;
}

.flexBetween {
    justify-content: space-between;
}